<p *ngIf="!id">edit-accounts works!</p>
<p *ngIf="id">create-accounts works!</p>

<form [formGroup]="accountsForm">

    <label for="">Accountname:</label>
    <input type="text" formControlName="account_name">
    <br>
    <label for="">Avaialable_balance</label>
    <input type="text" formControlName="avaialable_balance">
    <br>
    <label for="">Account Number</label>
    <input type="text" formControlName="account_number">
    <br>
    <label for="">City</label>
    <input type="text" formControlName="city">
    <br>
    <label for="">Profie_picture</label>
    <input type="text" formControlName="profie_picture">
    <br>
    <label for="">id</label>
    <input type="text" formControlName="id">
    <br>
    <button class="btn btn-success" (click)="create()"> {{id ?'edit':'create'}}</button>
</form>
<app-rating  [rating]="1"></app-rating>
<app-rating  [rating]="2"></app-rating>
<app-rating  [rating]="3"></app-rating>
<app-rating  [rating]="4"></app-rating>
<app-rating  [rating]="5"></app-rating>
