/* .parent{
    position: relative;
    width: 70%;
    height: 700px;
    background-color: aquamarine;
    left: 20%;

}
.bottom{
    position: absolute;
    left:70%;

}
button{
    background-color: chartreuse;
    color: aliceblue;
    font-weight: bolder;
}
button:hover{
    background-color: chartreuse;
    color: aliceblue;
    font-weight: bolder;
}
table{
    background-color: cornflowerblue;
    position: absolute;

   width: 500px;
   right: 10%;
   
}
table:hover{
    background-color: cornflowerblue;
} */